<div [class.dark-theme]="isDarkTheme">
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span>School Management</span>
    <button md-button color="primary" if>Sign in</button>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>account_circle</md-icon>
    </button>
  </md-toolbar>
  <md-sidenav-layout class="left-navigation">
    <md-sidenav #sidenav>
      <md-nav-list>
        <md-nav-list>
          <a md-list-item *ngFor="let item of sideMenuItems">
            <a [routerLink]="[item.route]">
              <span>{{item.name}}</span>
            </a>
          </a>
          <!--<a md-list-item *ngFor="let item of sideMenuItems">
            <span>{{item.name}}</span>
          </a>-->
          <!--<md-card>
            <md-card-header>
              <img md-card-avatar src="assets/blue-mouse.jpg">
              <md-card-title>Krishna Pratap Singh</md-card-title>
              <md-card-subtitle>Header subtitle</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="assets/ice-cube.jpg">
            <md-card-content>

            </md-card-content>
            <md-card-actions align="end">
              <button md-button color="primary">LIKE</button>
              <button md-button color="primary">COMMENT</button>
            </md-card-actions>
          </md-card>
          <a md-list-item (click)="openSettingDialog()">
            <span>Settings</span>
          </a>
          <a md-list-item (click)="isDarkTheme=!isDarkTheme">
            <span>Toggle theme</span>
          </a>
          <a md-list-item>
            <span>Help</span>
          </a>-->
        </md-nav-list>
      </md-nav-list>
    </md-sidenav>
    <!--<button md-fab class="md-fab" [routerLink]="['/cart']">
      <md-icon class="material-icons">add_shopping_cart</md-icon>
    </button>-->
    <md-menu x-position="before" #menu>
      <button md-menu-item md-anchor *ngIf="!loggedIn" [routerLink]="['/login']">Login</button>
      <button md-menu-item md-anchor *ngIf="loggedIn" [routerLink]="['/profile',loggedInUser.id]">Profile</button>
      <button md-menu-item md-anchor *ngIf="loggedIn" [routerLink]="['/changepwd']">Change Password</button>
      <button md-menu-item md-anchor *ngIf="loggedIn" [routerLink]="['/login']">Logout</button>
    </md-menu>
    <alert></alert>
    <router-outlet></router-outlet>
  </md-sidenav-layout>
</div>