<div [class.dark-theme]="isDarkTheme">
  <md-toolbar color="primary">
    <div class="toolbar-container">
      <div class="left">
        <button md-icon-button (click)="sidenav.toggle()" *ngIf="loggedIn">
          <md-icon>menu</md-icon>
        </button>
      </div>
      <div>
        <span>School Management</span>
      </div>
      <div class="right">
        <button md-button md-anchor *ngIf="!loggedIn" [routerLink]="['/login']">Sign in</button>
        <button md-icon-button [md-menu-trigger-for]="menu" *ngIf="loggedIn">
          <!--<md-icon>account_circle</md-icon>-->
          <i fa [name]="rocket" [border]=true></i>
        </button>
        <button md-icon-button (click)="logout()" *ngIf="loggedIn">
          <md-icon>input</md-icon>
        </button>
      </div>
    </div>
  </md-toolbar>
  <md-sidenav-layout class="left-navigation">
    <md-sidenav #sidenav>
      <!--<md-sidenav #sidenav mode="side" opened="true">-->
      <md-nav-list>
        <app-sidemenu *ngIf="loggedIn"></app-sidemenu>
        <a md-list-item (click)="isDarkTheme=!isDarkTheme">
          <span>Toggle theme</span>
        </a>
        <!--<a md-list-item (click)="openSettingDialog()">
            <span>Settings</span>
          </a>-->
      </md-nav-list>
    </md-sidenav>
    <md-menu x-position="before" #menu>
      <div *ngIf="loggedIn">
        <button md-menu-item md-anchor [routerLink]="['/profile',loggedInUser.id]">Profile</button>
        <button md-menu-item md-anchor [routerLink]="['/changepwd']">Change Password</button>
      </div>
    </md-menu>
    <alert></alert>
    <router-outlet></router-outlet>
  </md-sidenav-layout>
</div>